/* --- Fonts --- */
.page__content {
  font-size: 0.75rem !important;   /* Desktop font */
  line-height: 1.5 !important;
}

@media (max-width: 768px) {
  .page__content {
    font-size: 0.75rem !important; /*Mobile screens */
  }
}
